[Unit]
Description=JXMiner
After=rc-local.service
Before=getty.target

[Service]
Type=simple
GuessMainPID=yes
ExecStart=/usr/local/bin/jxminer -m daemon
Restart=on-failure
User=root
Group=root
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
